{% extends 'dashboard/base_dashboard.html' %}
{% load static %}
{% block title %} Data Kawasan Rawan {{ tahun }} {% endblock %}

{% block modal_tambahan %}
{% include "masters/kawasan_rawan/list/modals/detail_modal.html" %}
{% include "masters/kawasan_rawan/list/modals/edit_modal.html" %}
{% include "masters/kawasan_rawan/list/modals/filter_modal.html" %}
{% endblock modal_tambahan %}

{% block content %}
<div class="breadcrumb">
    <div class="row">
        <h3 class="heading mb-2">Data Kawasan Rawan Tahun {{ tahun }}</h3>
        <span class="mb-0">
            <a href="{% url 'dashboard:index' %}" class="text-muted fw-light">Beranda / </a>
            <span class="ms-1 text-muted">Kawasan Rawan /</span>
            <span class="ms-1 fw-medium">Tahun {{ tahun }}</span>
        </span>
    </div>
</div>

<section id="__data">
    <div class="card">
        <div class="card-body">
            <div id="headline" class="mb-3">
                <h3 class="text-center">Data Kawasan Rawan Tahun <b>{{ tahun }}</b> </h3>
                <h6 class="text-center">Anda sedang melihat data Kawasan Rawan tahun {{ tahun }}, untuk melihat data
                    kawasan rawan Desa/Kelurahan dari lokasi yang diinginkan, <br>Tolong <b>Pilih Wilayah</b> melalui
                    tombol tombol di bawah ini</h6>
                <hr />
            </div>

            <div id="info_section">
                <div class="row align-items-center justify-content-between mb-2">
                    <div class="col-lg-10">
                        <div id="info__selected" class="">
                            <div class="d-inline text-uppercase">
                                <a href="javascript:;" class="provinsi badge bg-success text-white">
                                </a>
                                <a href="javascript:;" class="kota badge bg-success text-white">
                                </a>
                                <a href="javascript:;" class="kecamatan badge bg-success text-white">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 d-flex justify-content-end">
                        {% comment %} <div class="action-button">
                            <div class="d-flex justify-content-end mb-3 gap-2">
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterModal">
                                    <i class="fas fa-filter me-2"></i>Filter</button>
                            </div>
                        </div> {% endcomment %}

                        <div>
                            <div class="btn-group dropstart" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-custom-class="tooltip-dark"
                                data-bs-original-title="Klik disini untuk memfilter data.">
                                <button type="button"
                                    class="btn btn-label-success rounded-pill dropdown-toggle hide-arrow"
                                    data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20"
                                    data-bs-auto-close="outside"><i class="fas fa-filter me-2"></i>Filter</button>
                                <ul class="dropdown-menu w-px-500">
                                    <li>
                                        <h5 class="dropdown-header text-uppercase">Filter Data</h5>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <div class="pt-0 pb-3 px-3" id="filter_form">
                                        <div class="mb-2">
                                            <label for="filter__provinsi" class="form-label">Provinsi</label>
                                            <select id="filter__provinsi" class="form-select select2 no-placeholder"
                                                required>
                                                <option disabled value="">-- Pilih Provinsi --</option>
                                                <option selected value="">-- Semua --</option>
                                                {% for item in list_provinsi %}
                                                    <option value="{{ item.pk }}">{{ item.nama_provinsi }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="filter__kabupaten" class="form-label">Kota/Kabupaten</label>
                                            <select id="filter__kabupaten" class="form-select select2 no-placeholder"
                                                required disabled>
                                                <option disabled value="">-- Pilih Kota/Kabupaten --</option>
                                                <option selected value="">-- Semua --</option>
                                            </select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="filter__kecamatan" class="form-label">Kecamatan</label>
                                            <select id="filter__kecamatan" class="form-select select2 no-placeholder"
                                                required disabled>
                                                <option disabled value="">-- Pilih Kecamatan --</option>
                                                <option selected value="">-- Semua --</option>
                                            </select>
                                        </div>
                                        {% comment %} <div class="mb-2">
                                            <label for="filter__status" class="form-label">Status</label>
                                            <select id="filter__status" class="form-select" required>
                                                <option disabled value="">-- Pilih Status --</option>
                                                <option selected value="">-- Semua --</option>
                                                <option value="KOSONG">Kosong</option>
                                                <option value="SUDAH">Sudah terlaporkan</option>
                                                {% for item in list_status %}
                                                <option value="{{ item.value }}">{{ item.label }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="filter__tahun" class="form-label">Tahun</label>
                                            <select id="filter__tahun" class="form-select" required>
                                                <option disabled value="">-- Pilih Tahun --</option>
                                                {% for item in list_year %}
                                                <option value="{{ item }}" {% if item == tahun %} selected {% endif %}>
                                                    {{ item }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div> {% endcomment %}
                                    </div>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <div class="d-flex justify-content-end px-3 py-2">
                                        <button type="button" class="btn btn-label-secondary fw-semibold me-2 px-6"
                                            id="resetFilter" onclick="handleResetFilter()"><i
                                                class="fas fa-xmark me-2"></i>Reset</button>

                                        <button type="button" class="btn btn-primary fw-semibold px-6"
                                            onclick="handleApplyFilter()" id="applyFilter"><i
                                                class="fas fa-save me-2"></i>
                                            Terapkan</button>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                {% include 'masters/kawasan_rawan/list/tables/table.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js_tambahan %}
<script>
    var tahun_saat_ini = '{{ tahun }}';
    var tahun_sebelumnya = '{{ tahun_sebelumnya }}';
</script>
<script src="{% static 'masters/kawasan_rawan/list/js/dt_filters.js' %}"></script>
<script src="{% static 'masters/kawasan_rawan/list/js/dt.js' %}"></script>
<script src="{% static 'masters/kawasan_rawan/list/js/actions.js' %}"></script>
{% endblock %}