{% extends "home/base_home.html" %}
{% load static %}

{% block title %} Info Kawasan Rawan {% endblock title %}
{% block container %} container-fluid {% endblock container %}

{% block vue %}
{% include "home/plugins/vue.html" %}
{% endblock vue %}

{% block modals %}
{% include "home/kawasan_rawan/partials/modals/filter_modal.html" %}
{% include "home/kawasan_rawan/partials/modals/detail_daftar_kawasan_modal.html" %}
{% include "home/kawasan_rawan/partials/modals/detail_daftar_kawasanv2_modal.html" %}
{% endblock modals %}


{% block content %}
<section id="info_kawan" class="px-4" data-aos="fade-up">

    <div class="container">
        <section class="row align-items-center justify-content-center g-5 py-5" id="heading">
            <div class="col-lg-2">
                <img src="{% static 'assets/images/icon.png' %}" class="d-block mx-lg-auto img-fluid" alt="Main logo"
                    width="500" height="400" loading="eager" title="Main logo">
            </div>
            <div class="col-lg-8">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Kawasan Rawan tahun [[ tahun ]]</h1>
                <p class="mt-3 mb-4">
                    Berikut daftar kawasan rawan pada tahun <b>[[ tahun ]]</b> yang ada di seluruh
                    daerah di Indonesia beserta informasi terkait status <b>kerawanannya</b> yang anda dapat lihat
                    melalui poin-poin yang ada di map.</p>
            </div>
        </section>
        {% include "home/kawasan_rawan/partials/search_bar.html" %}
    </div>

    <section id="data_map" class="px-5">
        <div class="row align-items-start justify-content-between py-3 g-3">
            <div class="col-lg-3">
                <div class="box-data-wilayah">
                    <h4>Data Provinsi</h4>

                    <hr class="mt-1 mb-3">

                    <div class="list-group">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="bg-soft-success">
                                        <th scope="col">Provinsi</th>
                                        <th scope="col">Kawasan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="province in list_provinces" :keys="province.id">
                                        <td scope="row" class="nama_provinsi" v-on:click="focusOnProvince(province)">[[
                                            province.nama_provinsi ]]</td>
                                        <td class="text-center">[[ province.get_kawasan_count ]]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div id="map_kawasan"></div>
            </div>
        </div>
    </section>

</section>
{% endblock content %}

{% block scripts %}
<script>
    {% comment %} var url_params = new URLSearchParams(window.location.search);
    var tahun = url_params.get('tahun');
    var provinces = null;

    console.log('Data Kawasan Rawan Tahun :', tahun);

    $('.selected_tahun').text(tahun);

    async function fetchdataProvinsi() {
        const response = await axios.get('/dashboard/masters/api/v1/provinces/');
        console.log('Data provinsi : ', response.data)
        provinces = response.data.results;

        provinces.forEach(province => {

            /*
                const circle = L.circle([province.latitude, province.longitude], {
                        color: 'red',
                        fillColor: '#f03',
                        fillOpacity: 0.5,
                        radius: 50000
                    })
                    .addTo(this.map)
                    .bindPopup(this.getProvinceBindPopup(province))
                    .on('click', () => this.onCircleClick(province));
    
            */
            this.circles.push(circle);
                
            console.log(province);

        });
    };

    fetchdataProvinsi() {% endcomment %}
</script>

<script>
    $(function() {
        const data = {
            list_provinces: null,
            map: null,
            markers: [],
            circles: [],
            popup: L.popup(),
            search: null,
            hideResults: false,
            searchResults: [],
            url_params: null,
            filter: [],
            tahun: '{{ tahun }}',
            status_kerawanan: '',
            provinsi: '',
            kota: '',
            kecamatan: '',
        };
    
        const saveSelectValueFromSelect2 = function() {
            $('#filter_form #provinsi').on('change', function(event) {
                handleSelect2Change(event.target.value, 'provinsi');
            });
        };
    
        const fetchProvinsi = async function() {
            const response = await axios.get('/dashboard/masters/api/v1/provinces/');
            console.log('Data provinsi : ', response.data)
            data.list_provinces = response.data.results;
    
            data.list_provinces.forEach(function(province) {
                const circle = L.circle([province.latitude, province.longitude], {
                        color: 'red',
                        fillColor: '#f03',
                        fillOpacity: 0.5,
                        radius: 50000 // Sesuaikan radius sesuai kebutuhan Anda
                    })
                    .addTo(data.map)
                    .bindPopup(getProvinceBindPopup(province))
                    .on('click', function() {
                        onCircleClick(province);
                    });
    
                data.circles.push(circle);
            });

            fetchAndDisplayProvinces();
        };

        const updateProvinceTable = function(provinces) {
            const tbody = $('#province_table tbody');
            tbody.empty();
    
            provinces.forEach(function(province) {
                const row = $('<tr></tr>');
                row.append(`<td scope="row" class="nama_provinsi">${province.nama_provinsi}</td>`);
                row.append(`<td class="text-center">${province.get_kawasan_count}</td>`);
                row.on('click', function() {
                    focusOnProvince(province);
                });
                tbody.append(row);
            });
        };

        const fetchAndDisplayProvinces = async function() {
            try {
                updateProvinceTable(data.list_provinces);
            } catch (error) {
                console.error('Gagal memuat data provinsi:', error);
            }
        };
    
        const handleSelect2Change = function(value, field) {
            if (field === 'provinsi') {
                data.filter.provinsi = value;
            } else if (field === 'kota') {
                data.filter.provinsi = value;
            }
        };
    
        const getProvinceBindPopup = function(province) {
            return `<b>${province.nama_provinsi}</b>
                        <br>Kawasan: ${getRandomInt(300)}<br>
                        <hr class="my-2">
                        <div class="info">
                            <span class="keterangan">Bahaya</span>
                                <span class="text-danger"> : ${getRandomInt(30)}</span><br>
                            <span class="keterangan">Waspada</span>
                                <span class="text-warning"> : ${getRandomInt(90)}</span><br>
                            <span class="keterangan">Siaga</span>
                                <span class="text-primary"> : ${getRandomInt(120)}</span><br>
                            <span class="keterangan">Aman</span>
                                <span class="text-success"> : ${getRandomInt(130)}</span><br>
                        </div>
                        <br>
                        <button type="button" class="btn btn-primary btn-sm w-100" data-bs-toggle="modal" data-bs-target="#detailDaftarKawasanModal">Lihat kawasan</button>
                        `
        };
    
        const onCircleClick = function(province) {
            console.log('Circle clicked:', province);
        };

        // Url handler
        const checkUrlFilter = function() {
            const paramsToCheck = ['provinsi', 'tahun', 'status_kerawanan', 'kota', 'kecamatan'];
    
            paramsToCheck.forEach(function(param) {
                if (data.url_params.has(param)) {
                    data.filter[param] = data.url_params.get(param);
                } else {
                    if (param != 'tahun') {
                        data.filter[param] = ''
                    }
                }
            });
        };
    
        // Map
        const onMapClick = function(e) {
            console.log(`Koordinat : ${e.latlng.lat.toFixed(4)}, ${e.latlng.lng.toFixed(4)}`);
            /*
                data.popup
                    .setLatLng(e.latlng)
                    .setContent("Koordinat: " + e.latlng.lat.toFixed(4) + ", " + e.latlng.lng.toFixed(4))
                    .openOn(data.map);
            */
        };
    
        const handleResetFilter = function() {
            toast('success', 'Filter berhasil direset!');
        };
    
        const setValueFromFilter = function() {
            console.log('Data filter : ', data.filter);
            data.tahun = data.filter.tahun !== undefined ? data.filter.tahun : data.tahun;
            data.status_kerawanan = data.filter.status_kerawanan !== undefined ? data.filter.status_kerawanan : data.status_kerawanan;
            data.provinsi = data.filter.provinsi !== undefined ? data.filter.provinsi : data.provinsi;
            data.kota = data.filter.kota !== undefined ? data.filter.kota : data.kota;
            data.kecamatan = data.filter.kecamatan !== undefined ? data.filter.kecamatan : data.kecamatan;
        };
    
        const setUrlParams = function() {
            data.url_params.set('tahun', data.tahun);
            data.status_kerawanan !== '' ? data.url_params.set('status_kerawanan', data.status_kerawanan) : '';
            data.provinsi !== '' ? data.url_params.set('provinsi', data.provinsi) : '';
            data.kota !== '' ? data.url_params.set('kota', data.kota) : '';
            data.kecamatan !== '' ? data.url_params.set('kecamatan', data.kecamatan) : '';
        };
    
        const updateUrl = function() {
            const newUrl = `${window.location.pathname}?${data.url_params.toString()}`;
            window.history.replaceState({}, '', newUrl);
        };
    
        const onSearchChange = function() {
            data.hideResults = false;
            data.searchResults = data.list_provinces.filter(function(province) {
                return province.nama_provinsi.toLowerCase().includes(data.search.toLowerCase());
            });
        };
    
        const focusOnProvince = async function(province) {
            data.hideResults = true;
            const target = [province.latitude, province.longitude];
    
            data.map.flyTo(target, 10, {
                animate: true,
                duration: 1.5
            });
    
            await sleep(1800);
    
            const popupContent = getProvinceBindPopup(province);
            data.popup
                .setLatLng(target)
                .setContent(popupContent)
                .openOn(data.map);
        };
    
        // Mounting
        data.filter.tahun = data.tahun;
        saveSelectValueFromSelect2();
        data.url_params = new URLSearchParams(window.location.search);
        checkUrlFilter();
        fetchProvinsi();
    
        data.map = L.map('map_kawasan', {
            gestureHandling: false,
        }).setView([2.6343, 114.6455], 5);
    
        const googleLayer = L.tileLayer('https://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        });
    
        const osmLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        });
        
        const mapBoxLayer = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiaXJmYW5wdWxlIiwiYSI6ImNqdnpxbHFvbzAzM3UzeWxrcWtkbTVhamIifQ.TJM77G3WOEIOIYzk_IiWKQ', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
        })
    
        const esri_world_imagery_layer = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
        });
    
        const layers = {
            'Default': osmLayer,
            'MapBox': mapBoxLayer,
            'Google Maps': googleLayer,
            'Realistis': esri_world_imagery_layer,
        };
    
        L.control.layers(layers).addTo(data.map);
    
        osmLayer.addTo(data.map);
    
        data.map.on('click', onMapClick);
    
        // Event listeners
        $('#filter_button').on('click', function() {
            handleFilter();
        });
    
        $('#reset_button').on('click', function() {
            handleResetFilter();
        });
    
        $('#search_input').on('input', function() {
            onSearchChange();
        });
    
        // Methods
        const handleFilter = function() {
            setValueFromFilter();
            setUrlParams();
            updateUrl();
            hideModal();
        };
    });
    
</script>
{% endblock scripts %}

{% block head %}
{% include "home/plugins/leaflet.html" %}

<style scoped>
    #info_kawan {
        height: 1300px;
    }

    #data_map #map_kawasan {
        width: 100%;
        height: 700px;
    }

    #data_map .box-data-wilayah {
        background-color: #fcfcfc;
        border-radius: 10px;
        padding: 10px 0 0 10px;
    }

    #data_map .box-data-wilayah .list-group {
        height: 600px;
        overflow: auto;
    }

    #data_map .box-data-wilayah table thead {
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 1;
        box-shadow: 0px 5px 5px -5px rgba(255, 255, 255, 0.8), 0px -5px 5px -5px rgba(255, 255, 255, 0.8);
    }

    #data_map .box-data-wilayah .table-responsive {
        border-top: 1px solid #dee2e6;
    }

    #data_map .box-data-wilayah table th {
        position: sticky;
        top: 0;
    }

    #data_map .box-data-wilayah .list-group .table .info .keterangan {
        display: inline-block;
        width: 70px;
    }

    #data_map .box-data-wilayah .list-group .table .nama_provinsi {
        cursor: pointer;
    }

    #search_bar #search__results {
        width: 100%;
        z-index: 9999;
        box-shadow: 1px 2px #d4d4d4;
        top: 100%;
        left: 0%;
    }

    .accordion .accordion-body {
        padding: 10px 0 0px 20px;
    }

    .accordion .accordion-item {
        border-radius: 0;
    }

    .accordion .accordion-button:not(.collapsed) {
        background-color: #fff;
    }
</style>
{% endblock head %}