<li class="menu-item {% if '/kegiatan/' in request.path %}open{% endif %}">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
       <i class="menu-icon tf-icons ti ti-report"></i>
       <div data-i18n="Kegiatan">Kegiatan</div>
    </a>
    
    {% include "dashboard/partials/sidebar/kegiatan/psm.html" %}
</li>


<li class="menu-item  {% if '/lk/psm/' in request.path %}active{% endif %}">
   <a href="{% url 'psm_laporan_kegiatan' %}" class="menu-link">
      <i class="menu-icon tf-icons ti ti-book-2"></i>
      <div data-i18n="Laporan Kegiatan">Laporan Kegiatan</div>
   </a>
</li>

<li class="menu-item {% if '/survey/' in request.path %}open{% endif %}">
   <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class='menu-icon tf-icons ti ti-checkbox'></i>
      <div data-i18n="Survei">Survei</div>
   </a>
   <ul class="menu-sub">
      {% comment %} <li class="menu-item {% if 'eform' in request.path %}active{% endif %}">
         <a href="{% url 'eform' %}" class="menu-link">
            <div data-i18n="E-FORM">E-FORM</div>
         </a>
      </li> {% endcomment %}
      <li class="menu-item {% if 'formulir_elektronik' in request.path %}active{% endif %}">
         <a href="{% url 'formulir_elektronik' %}" class="menu-link">
            <div data-i18n="Formulir Elektronik">Formulir Elektronik</div>
         </a>
      </li>
      <li class="menu-item {% if 'skm_tes_urine' in request.path %}active{% endif %}">
         <a href="{% url 'psm_skm_tes_urine' %}" class="menu-link">
            <div data-i18n="SKM Tes Urine">SKM Tes Urine</div>
         </a>
      </li>
   </ul>
</li>

<li class="menu-item {% if '/berita/' in request.path %} active {% endif %}">
    <a href="{% url 'berita:list' %}" class="menu-link">
       <i class="menu-icon tf-icons ti ti-news"></i>
       <div data-i18n="Berita">Berita</div>
    </a>
 </li>