<table class="table table-bordered table-sm" id="__table">
    <thead class="bg-soft-green">
        <tr>
            <th style="max-width: 30px">No.</th>
            <th>Desa/Kelurahan</th>
            <th>Kecamatan</th>
            <th style="max-width: 90px">Status Kerawanan</th>
            <th style="max-width: 50px" class="text-center">Tahun</th>
            <th style="max-width: 200px">Keterangan</th>
        </tr>
    </thead>
    <tbody class="align-tr-middle">
    </tbody>
</table>