<div class="modal fade" id="filterTahunModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Filter Data
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form @submit.prevent="handleFilterTahun()">
                <div class="modal-body">
                    <div class="row mb-3">
                        <label for="tahun" class="col-sm-3 col-form-label">Filter tahun : </label>
    
                        <div class="col-sm-9">
                            <select class="form-select" id="tahun" name="tahun" v-model="filter.tahun">
                                <option value="" selected disabled>--Pilih Tahun--</option>
                                {% for year in list_year %}
                                <option value="{{ year }}" :selected="'{{ year }}' == tahun">{{ year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    {% comment %} <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                        <i class="fas fa-xmark me-2"></i>Batalkan</button> {% endcomment %}
                    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                        <i class="fas fa-xmark me-2"></i>Batalkan</button>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save me-2"></i>Terapkan</button>
                </div>
            </form>
        </div>
    </div>
</div>