<div class="modal fade" id="createModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tambah Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formCreate" onsubmit="handlePost(event)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="first_name" class="required col-form-label">Nama depan:</label>
                            <input type="text" class="form-control" id="first_name" required />
                        </div>
                        <div class="col-6 mb-3">
                            <label for="last_name" class="optional col-form-label">Nama belakang:</label>
                            <input type="text" class="form-control" id="last_name"/>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="username" class="required col-form-label">Username:</label>
                            <input type="text" class="form-control" id="username"
                                placeholder="" />
                        </div>
                        <div class="col-6 mb-3">
                            <label for="nomor_telepon" class="optional col-form-label">Nomor telepon:</label>
                            <input type="text" class="form-control cleave-phone input-maxlength" id="nomor_telepon" maxlength="15"
                                placeholder="" />
                        </div>
                        <div class="col-12 mb-3">
                            <label for="email" class="required col-form-label">Alamat Email:</label>
                            <input type="text" class="form-control" id="email"
                                placeholder="" />
                        </div>
                    </div>

                    <span id="edit_info" class="text-muted small">
                        Password pengguna akan <b>digenerate</b> oleh <b>sistem secara otomatis</b> dan akan
                        <b>dikirimkan langsung</b> melalui alamat email yang dicantumkan.
                    </span>


                    <hr class="mx-n4 mt-4 mb-3" />

                    <div class="mb-3">
                        <label for="satker" class="required col-form-label">Satuan Kerja:</label>
                        <select id="satker" class="form-control select2">
                            <option value="" selected disabled>--Pilih Satuan Kerja--</option>
                            {% for item in list_satker %}
                            <option value="{{ item.id }}">{{ item.nama_satker }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal"><i
                            class="fas fa-xmark me-2"></i>Batalkan</button>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save me-2"></i>
                        Simpan
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>