<table class="table table-bordered table-sm" id="__table">
    <thead class="bg-soft-success">
        <tr>
            <th class="text-center">No</th>
            <th class="text-center">Nama</th>
            <th class="text-center">Username</th>
            <th class="text-center">Email</th>
            <th class="text-center">Satuan Kerja</th>
            <th class="text-center">Status Akun</th>
            {% comment %} <th>Terakhir login</th> {% endcomment %}
            <th style="max-width: 100px">Aksi <i class="fas fa-edit ms-2"></i></th>
        </tr>
    </thead>
    <tbody class="align-tr-middle">
    </tbody>
</table>

<script>
</script>