<table class="table table-bordered table-sm" id="__table">
    <thead class="bg-soft-success">
        <tr class="text-center">
            <th>No</th>
            <th>Judul</th>
            <th >Dokumen</th>
            <th class="text-center" >Kategori</th>
            <th class="text-center" >Status</th>
            <th class="text-center">Dibuat oleh</th>
            <th class="text-center">Tanggal diupload</th>
            <th class="text-center" >Aksi <i class="fas fa-edit ms-2"></i></th>
        </tr>
    </thead>
    <tbody class="align-tr-middle"></tbody>
</table>