<div class="col-sm-6 col-xl-6">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-start justify-content-between">
                <div class="content-left">
                    <span>Data Status Kota/Kabupaten</span>
                    <div class="d-flex align-items-center my-2">
                        <h3 class="mb-0 me-2">56/70</h3> <span class="text-muted me-2">kota/kabupaten</span>
                        <p class="text-success mb-0">(+3)</p>
                    </div>
                    <p class="mb-0">Memiliki arti <b>56</b> dari <b>70</b> Kota/Kabupaten sudah dilaporkan
                        status kerawananan terkait kawasannya </p>
                </div>
                <div class="avatar">
                    <span class="avatar-initial rounded bg-label-danger">
                        <i class="ti ti-building-bank ti-sm"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-6 col-xl-6">
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-start justify-content-between">
                <div class="content-left">
                    <span>Data Status Kecamatan</span>
                    <div class="d-flex align-items-center my-2">
                        <h3 class="mb-0 me-2">9320/28090</h3> <span class="text-muted me-2">kecamatan</span>
                        <p class="text-success mb-0">(+30)</p>
                    </div>
                    <p class="mb-0">Memiliki arti <b>930</b> dari <b>3300</b> Kecamatan sudah dilaporkan status
                        kerawananan terkait kawasannya </p>
                </div>
                <div class="avatar">
                    <span class="avatar-initial rounded bg-label-primary">
                        <i class="ti ti-building-estate ti-sm"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>