<span id="statistik_pelaporan_kawasan_rawan" class="row g-4">
    <!-- Bahaya -->
    <div class="col-sm-6 col-xl-3">
        <div class="card border-bottom-danger">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>Data Status Bahaya</span>
                        <div class="d-flex align-items-center my-2">
                            <h3 class="mb-0 me-2"><span class="bahaya_count">0</span>/{{ desa_count }}</h3> <span
                                class="text-muted me-2">desa/kelurahan</span>
                        </div>
                        <p class="mb-0">Memiliki arti <b class="bahaya_count">0</b> dari <b
                                class="desa_count">{{ desa_count }}</b> Desa/Kelurahan memiliki status kerawananan
                            <b>Bahaya</b> </p>
                    </div>
                    <div class="avatar">
                        <span class="text-danger">
                            <i class="ti ti-alert-triangle ti-lg"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Waspada -->
    <div class="col-sm-6 col-xl-3">
        <div class="card border-bottom-warning">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>Data Status Waspada</span>
                        <div class="d-flex align-items-center my-2">
                            <h3 class="mb-0 me-2"><span class="waspada_count">0</span>/{{ desa_count }}</h3> <span
                                class="text-muted me-2">desa/kelurahan</span>
                        </div>
                        <p class="mb-0">Memiliki arti <b class="waspada_count">0</b> dari <b
                                class="desa_count">{{ desa_count }}</b> Desa/Kelurahan memiliki status kerawananan
                            <b>Waspada</b> </p>
                    </div>
                    <div class="avatar">
                        <span class="text-warning">
                            <i class="ti ti-alert-circle ti-lg"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Siaga -->
    <div class="col-sm-6 col-xl-3">
        <div class="card border-bottom-primary">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>Data Status Siaga</span>
                        <div class="d-flex align-items-center my-2">
                            <h3 class="mb-0 me-2"><span class="siaga_count">0</span>/{{ desa_count }}</h3> <span
                                class="text-muted me-2">desa/kelurahan</span>
                        </div>
                        <p class="mb-0">Memiliki arti <b class="siaga_count">0</b> dari <b
                                class="desa_count">{{ desa_count }}</b> Desa/Kelurahan memiliki status kerawananan
                            <b>Siaga</b> </p>
                    </div>
                    <div class="avatar">
                        <span class="text-primary">
                            <i class="ti ti-eye ti-lg"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Aman -->
    <div class="col-sm-6 col-xl-3">
        <div class="card border-bottom-success">
            <div class="card-body">
                <div class="d-flex align-items-start justify-content-between">
                    <div class="content-left">
                        <span>Data Status Aman</span>
                        <div class="d-flex align-items-center my-2">
                            <h3 class="mb-0 me-2"><span class="aman_count">0</span>/{{ desa_count }}</h3> <span
                                class="text-muted me-2">desa/kelurahan</span>
                        </div>
                        <p class="mb-0">Memiliki arti <b class="aman_count">0</b> dari <b
                                class="desa_count">{{ desa_count }}</b> Desa/Kelurahan memiliki status kerawananan
                            <b>Aman</b> </p>
                    </div>
                    <div class="avatar">
                        <span class="text-success">
                            <i class="ti ti-shield-half ti-lg"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</span>