{% extends "home/base_home.html" %}
{% load static %}

{% block title %} Info Kawasan Rawan {% endblock title %}
{% block container %} container-fluid {% endblock container %}

{% block vue %}
{% include "home/plugins/vue.html" %}
{% endblock vue %}

{% block head %}
{% include "home/plugins/leaflet.html" %}
<link rel="stylesheet" href="{% static 'home/kawasan_rawan/css/map_kawan.css' %}">
{% endblock head %}


{% block content %}
<section id="info_kawan" class="px-0" data-aos="fade-up">

    <div class="container">
        <section class="row align-items-center justify-content-center g-5 pt-5 pb-0" id="heading">
            <div class="col-lg-2">
                <img src="{% static 'assets/images/icon.png' %}" class="d-block mx-lg-auto img-fluid" alt="Main logo"
                    width="500" height="400" loading="eager" title="Main logo">
            </div>
            <div class="col-lg-10">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">PERSEBARAN KAWASAN RAWAN NARKOBA <br>DI
                    INDONESIA TAHUN <span class="selected_tahun">2020</span></h1>
                <p class="mt-3">
                    Berikut daftar kawasan rawan pada tahun <b class="selected_tahun">2020</b> yang ada di seluruh
                    daerah di Indonesia beserta informasi terkait status <b>kerawanannya</b> yang anda dapat lihat
                    melalui poin-poin yang ada di map.</p>
            </div>
        </section>
    </div>

    <section id="data_map" class="px-3">
        <div class="row align-items-start justify-content-between py-3 g-3">
            <div class="col-lg-12">
                <div id="map"></div>

                {% include "home/kawasan_rawan/partials/blok_provinsi.html" %}
            </div>
        </div>
    </section>

</section>
{% endblock content %}

{% block scripts %}
<script>
    var temporaryMarker;

    const markerIcon = new L.Icon({
        iconSize: [15, 15],
        iconAnchor: [6, 15],
        popupAnchor: [1, -12],
        iconUrl: '/static/assets/plugins/leaflet/images/marker.png',
    });

    var tahun = 2020;

    //============= LAYERS ===============
    function getLayers() {
        const google_layer = L.tileLayer('https://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
            // noWrap: true,
        });

        const osm_layer = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png');

        const mapbox_layer = L.tileLayer(
            'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiaXJmYW5wdWxlIiwiYSI6ImNqdnpxbHFvbzAzM3UzeWxrcWtkbTVhamIifQ.TJM77G3WOEIOIYzk_IiWKQ', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
            })

        const esri_world_imagery_layer = L.tileLayer(
            'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
                // noWrap: true,
            });

        const layers = {
            'Default': osm_layer,
            'MapBox': mapbox_layer,
            'Google Maps': google_layer,
            'Realistis': esri_world_imagery_layer,
        };

        return layers;
    }

    const map = L.map('map', {
        maxZoom: 9,
        minZoom: 5,
    }).setView([-2.548926, 118.0148634], 5);

    const base_layers = getLayers();

    var layerControl = L.control.layers(base_layers).addTo(map);

    base_layers['Google Maps'].addTo(map);

    var layerGroup = L.layerGroup();
    var layerHtml = L.layerGroup();
    // var geoJsonLayer = L.layerGroup();
    var geoJsonLayer = null;
    const geoJsonCache = {};

    layerControl.addOverlay(layerGroup, "Titik Lokasi");
    layerControl.addOverlay(layerHtml, 'Blok Provinsi');
    // layerControl.addOverlay(geoJsonLayer, 'Geojson layer');

    const polylineLayerGroup = L.layerGroup();

    layerControl.addOverlay(polylineLayerGroup, 'Polyline');

    async function getDataAddMarkers({
        label,
        value,
        map,
        exclamation
    }) {
        tahun = label;

        $('.selected_tahun').text(tahun);

        layerGroup.clearLayers();

        layerHtml.eachLayer(function (layer) {
            // console.log(layer._dom.firstChild.id);
            $(`#${layer._dom.firstChild.id}`).html("");
        });

        try {
            map.spin(true);
            

            const response = await axios.get(
                `/dashboard/masters/api/v1/kawasan_rawan/map_provinsi_geom/?tahun=${tahun}`);

            const data_layer = L.geoJSON(response.data, {
                onEachFeature: function (feature, layer) {
                    const id_provinsi = feature.properties.kd_prov;
                    const nama_provinsi = feature.properties.provinsi;
                    const nama_provinsi_singkat = feature.properties.provinsi_singkat;
                    const waspada = feature.properties.waspada;
                    const bahaya = feature.properties.bahaya;
                    const siaga = feature.properties.siaga;
                    const aman = feature.properties.aman;
                    const total_kawasan = bahaya + waspada;
                    const url = `/kawasan-rawan/${tahun}/${id_provinsi}`;
            
                    let popupContent = `
                        <b>${feature.properties.provinsi_singkat}</b><br/>
                        ${total_kawasan} kawasan <br/>
                        B: ${bahaya}, W: ${waspada}<br/>
                        <a class="badge bg-warning text-white text-decoration-none border-map" href="${url}">Buka</a>
                    `;
            
                    // console.log(feature.geometry.coordinates);
            
                    if (feature.properties && feature.properties.popupContent) {
                        popupContent += feature.properties.popupContent;
                    }
            
                    const el = $(`#d${id_provinsi}`);
            
                    el.html(popupContent).removeClass("bloc").removeClass("bloc_danger");
            
                    if (bahaya > 50) el.addClass("bloc_danger");
                    else el.addClass("bloc");
            
                    const markerCoords = layer.getLatLng();
                    const data_tarik = el.attr("data-tarik").split(",").map(parseFloat);
                    const data_belok = el.attr("data-belok").split(",").map(parseFloat);
            
                    const tarikCoords = L.latLng(data_tarik[0], data_tarik[1]);
                    const belokCoords = L.latLng(data_belok[0], data_belok[1]);
            
                    let belokCoordsArray = [];
                    for (let i = 2; i < data_belok.length; i += 2) {
                        belokCoordsArray.push(L.latLng(data_belok[i], data_belok[i + 1]));
                    }
            
                    const combined = [markerCoords, belokCoords, ...belokCoordsArray, tarikCoords];
            
                    const lineColor = '#2D75B6';
                    const polyline = L.polyline(combined, {
                        color: lineColor,
                        className: 'leaflet-polyline'
                    });
            
                    polylineLayerGroup.addLayer(polyline);
            
                },
                pointToLayer: function (feature, latlng) {
                    const id_provinsi = feature.properties.kd_prov;
                    const nama_provinsi = feature.properties.provinsi;
                    const nama_provinsi_singkat = feature.properties.provinsi_singkat;
                    const waspada = feature.properties.waspada;
                    const bahaya = feature.properties.bahaya;
                    const siaga = feature.properties.siaga;
                    const aman = feature.properties.aman;
                    const total_kawasan = bahaya + waspada;
                    const total_desa = feature.properties.total_desa;
                    const url = `/kawasan-rawan/${tahun}/${id_provinsi}`;

                    const content = {
                        bahaya: `<b>B</b>: <span class="text-danger">${bahaya}</span>`,
                        waspada: `<b>W</b>: <span class="text-warning">${waspada}</span>`,
                        siaga: `<b>S</b>: <span class="text-primary">${siaga}</span>`,
                        aman: `<b>A</b>: <span class="text-success">${aman}</span>`,
                        koordinat: `<b>Koordinat</b> : ${latlng.lat.toFixed(4)}, ${latlng.lng.toFixed(4)} <br/>`,
                    }

                    let popupContent = `
                        <b>${nama_provinsi_singkat}</b><br/>
                        Total kawasan : ${total_kawasan}/${total_desa} <br/>
                        
                        <div class="mt-2">
                            ${content.bahaya}, ${content.waspada}, ${content.siaga}, ${content.aman} <br/>
                        </div>

                        <div class="mt-2"><a class="text-primary text-decoration-none" href="${url}">Lihat detail</a></div>
                    `;

                    const marker = L.marker(latlng, {
                        icon: markerIcon
                    }).bindPopup(popupContent).on('click', async function() {
                        try {
                            let geoJsonResponse;
                            if (geoJsonCache[id_provinsi]) {
                                geoJsonResponse = geoJsonCache[id_provinsi];
                            } else {
                                geoJsonResponse = await axios.get(`/dashboard/masters/api/v1/provinces/${id_provinsi}/map_provinsi/`);
                                geoJsonCache[id_provinsi] = geoJsonResponse;
                            }

                            if (geoJsonLayer) {
                                map.removeLayer(geoJsonLayer);
                            }

                            geoJsonLayer = L.geoJSON(geoJsonResponse.data).addTo(map);
                        } catch (error) {
                            console.error('Terjadi Kesalahan dalam mengambil GeoJSON:', error);
                        }
                    });

                    return marker;
                },

            });

            layerGroup.addLayer(data_layer);
        } catch (error) {
            console.error('Terjadi Kesalahan :', error);
        } finally {
            map.spin(false);
        }
    };

    L.control.timelineSlider({
            timelineItems: ["2021", "2022", "2023", "2024"],
            changeMap: getDataAddMarkers,
            extraChangeMapParams: {
                exclamation: "Timeline triggered!"
            },
            initializeChange: true,
        })
        .addTo(map);

    /* function addTemporaryMarker(e) {
        if (temporaryMarker) {
            map.removeLayer(temporaryMarker);
        }

        const popupContent = `${e.latlng.lat.toFixed(4)}, ${e.latlng.lng.toFixed(4)}`;
        const popup = L.popup().setContent(popupContent);

        temporaryMarker = L.marker(e.latlng).addTo(map).bindPopup(popup).openPopup();

        temporaryMarker.on('click', function () {
            map.removeLayer(temporaryMarker);
        });
    } */

    /* function mapOnClick(e) {
        addTemporaryMarker(e);

        console.log(`Koordinat : ${e.latlng.lat.toFixed(4)}, ${e.latlng.lng.toFixed(4)}`);
        // map.flyTo(e.latlng,12);
    }

    map.on('click', mapOnClick); */

    function mapOnZoom() {
        console.log("Zoom :", map.getZoom())
    }

    map.on('zoomend', mapOnZoom);

    $('.bloc').each(function (i, obj) {
        let el = $(`#${obj.id}`);

        htmlLayer = el.htmlOverlay();
        layerHtml.addLayer(htmlLayer);
    });


    map.addLayer(layerGroup);
    map.addLayer(layerHtml);
    map.addLayer(polylineLayerGroup);

    /*
        var searchControl = new L.Control.Search({
            layer: layerGroup,
            propertyName: 'provinsi',
            marker: false,
            moveToLocation: function (latlng, title, map) {
                map.fitBounds(latlng.layer.getBounds());
                let zoom = map.getBoundsZoom(latlng.layer.getBounds());
                map.setView(latlng, zoom); // access the zoom
    
                // map.flyTo(latlng, 8);
            }
        });
    */

    // map.addControl(searchControl);

    L.control.coordinates({
        position: "bottomleft",
        decimals: 6,
        decimalSeperator: ",",
        labelTemplateLat: "Latitude: {y}",
        labelTemplateLng: "Longitude: {x}"
    }).addTo(map);
</script>
{% endblock scripts %}